<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <link rel="icon" href="https://tse4.mm.bing.net/th/id/OIP.7CK-X-uegS51a5PR-d-N-AHaHa?pid=Api&P=0&h=180" type="image/x-icon" />
</head>
<style>
    body{
        background-color: bisque;
        text-align: center;
        font-size: 200%;
        color: black;
        margin: 0px;
    }
</style>
<body>
    <h2>🎉 Thank you for applying!</h2>
     <p>We’ll get back to you soon. Meanwhile, feel free to explore more opportunities.</p>
</body>
</html>